@model List<Application.ViewModels.PokemonViewModel>
@{
        ViewData["Title"] = "Pokemons";
}

<div class="container">
    <div class="row">
        <a asp-controller="Pokemon" asp-action="SavePoke" class="btn btn-outline-success col-12 col-md-2 offset-md-9">Crear</a>
    </div>
    <br />
    
    <div class="card text-center">
      <div class="card-body">

        <p>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRegion" aria-expanded="false" aria-controls="collapseRegion">
                Filtrar por Region
            </button>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTipo" aria-expanded="false" aria-controls="collapseTipo">
                Filtrar por Tipo
            </button>
        </p>


        <div class="collapse" id="collapseRegion">
            <div class="card card-body">
                Vamoh a calmarno.
            </div>
        </div>
        <br />
        <div class="collapse" id="collapseTipo">
            <div class="card card-body">
                vamoh a calentalno.
            </div>
        </div>

      </div>
    </div>

    <br />



    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        @if(Model == null || Model.Count == 0)
        {
            <h2>No Hay Pokemosn</h2>
        }
        else
        {
            @foreach(Application.ViewModels.PokemonViewModel item in Model)
            {
                <div class="col-md-4">
                  <div class="card shadow-sm">
                    <img src="@item.ImgUrl" class="card-img-top" alt="@item.Name imagen" height="225">
                    <div class="card-body">
                      <p class="card-text"><h2>@item.Name</h2>
                          <br/>
                          Tipo = @item.TipoId
                          Tipo = @item.TipoIdSec
                          Region = @item.RegionId
                      </p>
                      <div class="d-flex justify-content-end">
                        <div class="btn-group">
                          <a type="button" asp-controller="Pokemon" asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-sm btn-warning">Editar</a>
                          <a type="button" asp-controller="Pokemon" asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-sm btn-danger">Eliminar</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>    
            }
        }
      </div>
    </div>