@model Application.ViewModels.AllViewModel
@{
    ViewData["Title"] = "Pokemons";
}

<div class="container">
    
    <div class="card text-center">
      <div class="card-body">
          <form method="post" asp-controller="Home" asp-action="Index">
              <div class="input-group mb-3">
                <input type="text"  name="Busqueda" class="form-control" placeholder="Pikachu">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Buscar</button>
              </div>
          </form>

        <p>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRegion" aria-expanded="false" aria-controls="collapseRegion">
                Filtrar por Region
            </button>
            <a class="btn btn-primary" type="button" onclick="window.location.href='/home'">
                Quitar Filtro
            </a>
        </p>


        <div class="collapse" id="collapseRegion">
            <div class="card card-body">
                

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="radiosBtn">
                     @if(ViewBag.Region.Count == 0)
                    {
                        <h2>No Hay Regiones</h2>
                    }
                    else
                    {
                         @foreach(Application.ViewModels.RegionViewModel item in ViewBag.Region){
                                <div class="col-md-4">
                                        <div class="card-body">
                                            <a type="button" asp-controller="Home" asp-action="Index" asp-route-Id="@item.Id" class="w-100 btn btn-outline-primary btn-lg">@item.Name</a>
                                        </div>
                                </div>
                         }
                    }
                </div>
            </div>
        </div>

      </div>
    </div>

    <br />

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        @if(Model == null || Model.Poke.Count == 0)
        {
            <h2>No Hay Pokemons</h2>
        }
        else
        {
            @foreach(Application.ViewModels.PokemonViewModel item in Model.Poke)
            {   
                if(ViewBag.Filtro == 0 && ViewBag.Busqueda == null)
                {
                      <div class="col-md-4">
                      <div class="card shadow-sm">
                        <img src="@item.ImgUrl" class="card-img-top" alt="@item.Name imagen" height="225">
                        <div class="card-body">
                          <p class="card-text"><h2>@item.Name</h2>
                              <br/>
                                    @foreach(Application.ViewModels.TipoViewModel tipo in Model.Tipo)
                                    {
                                        if(tipo.Id == item.TipoId)
                                        {
                                            <h5>Tipo = @tipo.Name</h5>
                                            break;
                                        }
                                    }
                                    @foreach(Application.ViewModels.TipoViewModel tipo in Model.Tipo)
                                    {     
                                        if(tipo.Id == item.TipoIdSec)
                                        {
                                            <h5>Tipo Secuandario = @tipo.Name</h5>
                                            break;
                                        }
                                    }
                                    @foreach(Application.ViewModels.RegionViewModel region in Model.Region)
                                    {
                                        if(region.Id == item.RegionId)
                                        {
                                            <h5>Region = @region.Name</h5>
                                            break;
                                        }
                                    }
                          </p>
                        </div>
                      </div>
                    </div>
                }
                else
                {
                    if(ViewBag.Filtro == item.RegionId || ViewBag.Busqueda == item.Name)
                    {
                          <div class="col-md-4">
                          <div class="card shadow-sm">
                            <img src="@item.ImgUrl" class="card-img-top" alt="@item.Name imagen" height="225">
                            <div class="card-body">
                              <p class="card-text"><h2>@item.Name</h2>
                                  <br/>
                                        @foreach(Application.ViewModels.TipoViewModel tipo in Model.Tipo)
                                        {
                                            if(tipo.Id == item.TipoId)
                                            {
                                                <h5>Tipo = @tipo.Name</h5>
                                                break;
                                            }
                                        }
                                        @foreach(Application.ViewModels.TipoViewModel tipo in Model.Tipo)
                                        {     
                                            if(tipo.Id == item.TipoIdSec)
                                            {
                                                <h5>Tipo Secundario = @tipo.Name</h5>
                                                break;
                                            }
                                        }
                                        @foreach(Application.ViewModels.RegionViewModel region in Model.Region)
                                        {
                                            if(region.Id == item.RegionId)
                                            {
                                                <h5>Region = @region.Name</h5>
                                                break;
                                            }
                                        }
                              </p>
                            </div>
                          </div>
                        </div>
                    }
                }

            }
        }
      </div>
    </div>
    <script>
    const RadioBTN = (id) => {
        
    }
    </script>